@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.our-branch-heading{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}

#Our_Branch_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 6px;
    width: 26%;
    margin-top: 8rem;
    box-shadow: 0 2px 2px 2px lightgray;
}

.card_img {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 100%;
    margin: -120px auto 0;
    border: 5px solid red;
}
.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_info {
    padding: 1.5rem;
    border-radius: 12px;
}

.card_info p{
    font-size: 1.2rem;
    font-weight: lighter;
}
.logo-style{
    margin-top: 1rem;
}

.details{
    display: flex;
    gap: 0.5rem;
}
.fa-solid{
    font-size: 2rem;
}
.details p{
    font-weight: bold;
}
.fa-solid p{
    font-size: 2rem;
}
.details-det{
    font-size: large;
    font-weight: lighter;
    padding: 0.5rem;
}
.view-all-course-btn{
    margin: 2rem 0;
    align-content: center;
    font-size: x-large;
    font-weight: bolder;
    padding: 0.8rem 1.5rem;
    background: rgb(0, 0, 101);
    color: white;
    border-radius: 12px;
}
.view-all-course{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width : 1500px) {
    
    .card_img {
        width: 80px;
        height: 80px;
        margin: -60px auto 0;
    }
    .details p{
        font-weight: bold;
    }
    .details-det{
        font-size: smaller;
        font-weight: lighter;
        padding: 0.5rem;
    }
    .fa-solid{
        font-size: 1rem;
    }
    .card_info p{
        font-size: 12px;
        font-weight: lighter;
        word-wrap: break-word;
    }
    .card_info {
        padding: 0;
    }
    .our-branch-heading{
        
        font-size: 2rem;
        font-weight: bolder;
    }
    .view-all-course-btn{
        margin: 2rem 0;
        align-content: center;
        font-size: 13px;
        font-weight: bolder;
        padding: 1rem 1rem;
        background: blue;
        color: white;
        border-radius: 12px;
    }
    
}

@media (max-width : 1060px) {
    .card{
        width: 45%;
        
    }
    
    
}
@media (max-width : 600px) {
    .card{
        width: 90%;
        
    }
   
    
}