@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.our-branch-heading{
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}

#Our_Branch_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}
@media (max-width : 800px) {
    
    .our-branch-heading{
        
        font-size: 2rem;
        font-weight: bolder;
    }
    
}


.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 25%;
  margin: 1rem;
}
.card-header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}

.slogan{

    background: 100%;
    border-radius: 16px;
    margin-bottom: 0.5rem;
}
.course-count{
    display: flex;
    gap: 0.2rem;
    margin-top: 1rem;
}

.moto{
    font-size: 13px;
    display: flex;
    word-wrap: break-word;
    gap: 0.2rem;
}
.caurse-card-heading{
    font-size: 1.5rem;
    word-wrap: break-word;
    font-weight: 900;
}
.fullWidthButton {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    background-color: blue;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .moto{
    background-color: rgb(254, 254, 126);
    border: 50px;
  }


@media (max-width : 800px) {
    .card {
        
        width: 80%;
        
      }
     
}