/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;

}

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem;
  font-family: 'Poppins', sans-serif;
  /* background: #3E8DA8; */

  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  font-family: "STIX Two Text", serif;
}

.since {
  font-size: 12px;
  color: black;
  text-align: center;
}

.navbar .logo a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  background-color: #191A88;
  padding: 0.2rem 0.5rem;
  border-radius: 2px;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: black;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 30px;
  width: 30px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;

}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}





.button-26 {
  appearance: button;
  background-color: #191A88;
  border-radius: 2px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  text-align: center;

}

.button-26:hover {
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}

@media (max-width:800px) {
  nav {
    position: relative;
  }

  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fdfdfd;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: black;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    width: 50px;
    height: 25px;
    color: black;
  }
  .bx-menu::before{
    height: 25px;
    font-size: 1.8rem;
  }
  .bx-x::before{
    height: 25px;
    font-size: 1.5rem;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }

  .since {
    display: none;
  }

}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 15px;
  }

  nav .navbar .logo a {
    font-size: 13px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }

  .button-26 {
    font-size: 6px;
    padding: 0.2rem 0.5rem;
    width: 50px;
    text-align: center;
    font-weight: 500;
  }

}



.wrapper{
  width:  100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5rem;
}

.container {
  display: flex;
  justify-content: center;

}

.first-div, .second-div {
  width: 45%;
  border-radius: 15px;
  color: #000000;
}

.second-div {
  width: 40%;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

input, textarea {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  font-size: 1.5rem;
}

.submitbtn {
  width: fit-content;
  padding: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #191A88;
  font-size: 1.5rem;
  margin: auto;
}

h1, .getintouch{
  font-size: 2.5rem;
  font-weight: bolder;
}
h1{
  color: blue;
}
 .getintouch-discritpion{
  margin-top: 2rem;
  font-size: 1.5rem;
}

.astrick{
  color: red;
}



#counter-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

}

.counter-section {
  width:90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  color: black;
  border-radius: 12px;
  padding: 3rem;
  background: #130CB7;
}

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.count-one-by-one {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;

  
}

.counter-section-heading {
  /* text-align: center; */
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}


.line{
  width: 4px;
  height: 120px;
  background-color: red;
}
.counter-container1 p{
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  word-wrap: break-word;
  margin-bottom: 1rem;
  color: white;
}



.email span{
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin:0.3rem 0;
  
}
.counter-icons{
  height: 100px;
  width: 100px;
}
@media (max-width: 1120px) {

  .counter {
    font-size: 12px;
    margin-top: 0;
  }
  .counter-section{
      width: 100%;
    padding: 2rem;
    border-radius: 0;

  }

  .counter-section-heading {
    margin: 1 0rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .counter-section-heading2 {
    margin: 1 0rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
 
  .line{
    display: none;
  }
  .counter-container1 p{
    font-size: 1rem;
    margin-bottom: 0.5;
    font-weight: 600;
  }
  .counter-container1 span{
    font-size: 1rem;
  }
  h1, .getintouch{
      font-size: 2rem
  }
  .first-div p, label{
      font-size: 1rem
  }
  .container {
      flex-direction: column;
      padding: 1rem;
    }
    .counter-icons{
      height: 60px;
      width: 60px;
    }
    .first-div, .second-div {
      width: 80%;
      padding: 0;
      margin: auto;
    }
    
    input, textarea{
      padding: 1;
      font-size: 1rem;
    }
    label{
      font-size: 1rem;
    }
    .submitbtn{
      font-size: 1rem;
    }
    .second-div{
      box-shadow: none;
      margin-top: 3rem;
    }
    
}

@media (max-width : 700px) {
.counter-container{
  flex-direction: column;
  width: 100%;
  text-align: center;
}

}



  .faq-container {
    margin-top: 7rem;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 7rem;
  }
  
  .faq-heading {
    text-align: center;
    padding: 2rem;
    margin: 3rem 0;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  
  
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1.5em 0;
    font-size: 0.5rem;
    word-wrap: break-word;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button .accordion-title {
    padding: 2rem 1.5rem 2rem 0;
  }
  
  span {
    font-size: 1.5rem;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    color: blue;
  }
  
  
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  
  .accordion button[aria-expanded='true']+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  
  .accordion .accordion-content p {
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2em 0;
  }
  
  #faq-container-section {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .accordion-content-answere {
    font-size: 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .faq-container {
      padding: 1rem;
      width: 100%;
    }
  
    .faq-heading {
      font-size: 1.5rem;
      margin: 2rem 0;
    }
  
    .accordion button .icon {
      top: 50%;
      transform: translateY(-50%);
    }
  
    .accordion-title {
      font-size: 16px;
    }
  
    .accordion-content-answere {
      font-size: 7px;
    }
    .accordion .accordion-content p{
      font-size: 0.8rem;
    }
  }

  .submitbtn:hover{
    border:3px solid #191A88;
    background-color: #FFFFFF;
    color: #191A88;
    font-weight: bolder;

  }