/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  min-height: 100vh;

}

nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0rem;
  font-family: 'Poppins', sans-serif;
  /* background: #3E8DA8; */

  z-index: 99;
}

nav .navbar {
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 50px;
}
.logo{
  display: flex;
  flex-direction: column;
  font-family: "STIX Two Text", serif;
}
.since{
  font-size: 12px ;
  color: black;
  text-align: center;
}
.navbar .logo a {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
  background-color: #191A88;
  padding: 0.2rem 0.5rem;
}

nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}

nav .navbar .links {
  display: flex;
}

nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: black;
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu {
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}

.navbar .links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .links li .sub-menu a {
  color: black;
  font-size: 15px;
  font-weight: 500;
}

.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}

.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}

.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .search-box {
  position: relative;
  height: 40px;
  width: 40px;
}

.navbar .search-box i {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .search-box .input-box {
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}

.navbar.showInput .search-box .input-box {
  top: 65px;
  opacity: 1;
  pointer-events: auto;

}

.search-box .input-box::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}

.search-box .input-box input {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}

.navbar .bx-menu {
  display: none;
}





.button-26 {
  appearance: button;
  background-color: #191A88;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* font-size: 8px; */
  line-height: 1.15;
  overflow: visible;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  font-size: 1.2rem;
}

.button-26:hover {
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}

@media (max-width:800px) {
  nav {
    position: relative;
  }

  .navbar .bx-menu {
    display: block;
  }

  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background: #fdfdfd;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }

  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar-logo .logo-name {
    font-size: 25px;
    color: black;
  }

  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: black;
  }

  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }

  nav .navbar .links li .arrow {
    line-height: 40px;
  }

  nav .navbar .links li {
    display: block;
  }

  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }

  nav .navbar .links li .sub-menu li {
    border-bottom: none;

  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }

  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }

  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }

  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }

  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }

}

@media (max-width:920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a {
    font-size: 13px;
  }

  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }

  nav .navbar .links li a {
    font-size: 15px;
  }

  .button-26 {
    font-size: 7px;
    padding: 3px;
  }

}


.main-bg-color {
  background: linear-gradient(170deg, rgb(192, 199, 255), rgb(255, 255, 255), rgb(252, 204, 252));
  padding: 1rem 0;
}

/* main-section-home */


.main-section-home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gate-section-cureve {
  width: 72%;
  font-size: 15px;
  color: #191A88;
  ;

  font-family: "STIX Two Text", serif;
  
}

text {
  text-align: center;
  fill: #191A88;
  ;
  text-anchor: middle;
  font-weight: bolder;

}

.view-box {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 70px);
  /* Subtract the header height */
}

path {
  fill: transparent;
  display: none;
}


@media (max-width:800px) {

  .gate-section-cureve {
    width: 100%;
  }
}


@media (max-width:370px) {
  nav .navbar .nav-links {
    max-width: 100%;

  }
}


/* pillers-section */
.pillors-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.pillor-section-container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15rem;
}

.pillor {
  max-width: 250px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pillor-img {

  height: 100%;
  width: 100%;

}

.pillor-content {
  padding-top: 5rem;
  position: absolute;
  bottom: 12rem;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "";

}

.geeni-logo img {
  width: 250px;
  height: 250px;
}

.GITAM {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: rgb(255, 96, 96);
  font-family: "STIX Two Text", serif;
}

.managed-by {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  font-family: "STIX Two Text", serif;
}

.GEENI-EDUCATIONAL-sOCITY {
  margin-top: 1rem;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  font-family: "STIX Two Text", serif;
}

.reg-no {
  text-align: center;
  font-size: 1rem;
  font-family: "STIX Two Text", serif;
}

.reg-no span {
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "STIX Two Text", serif;
}

.GEENI-EDUCATIONAL-sOCITY-tail-thumb-container {
  margin-top: 3rem;
  font-family: "STIX Two Text", serif;
}

.GEENI-EDUCATIONAL-sOCITY-tail-thumb {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  color: #191A88;
  font-family: "STIX Two Text", serif;
}

.register-now-button-btn {
  margin-top: 3rem;
  appearance: button;
  background-color: #191A88;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  /* font-size: 8px; */
  line-height: 1.15;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}


@media (max-width:1250px) {
  .pillor {
    height: 380px;

  }

  .register-now-button-btn {
    padding: 3px 5px;
  }

  .pillor-content {
    /* width: 280px; */
    /* top: 0rem; */
    padding-top: 0;
    bottom: 3rem;
    height: 100%;
  }

  .GEENI-EDUCATIONAL-sOCITY {
    font-size: 12px;
    margin-top: 0.5rem;
  }

  .managed-by {
    margin-top: 1rem;
    font-size: 6px;
  }

  .reg-no {
    font-size: 10px;
    text-align: center;
  }

  .reg-no span {
    font-size: 12px;
  }

  .GITAM {
    font-size: 16px;
  }

  .geeni-logo img {
    height: 100px;
    width: 120px;
  }

  .GEENI-EDUCATIONAL-sOCITY-tail-thumb {
    font-size: 12px;
  }

  .GEENI-EDUCATIONAL-sOCITY-tail-thumb-container {
    margin-top: 1rem;
  }

  .register-now-button-btn {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .pillors-section-container {
    width: 100%;
    gap: 0rem;
    align-items: center;
  }

}

@media (max-width :360px) {
  .pillor-img {
    display: none;
  }
}



/* live scooling-animaiton */
.marquee-section {
  display: flex;
  background-color: #191A88;
  padding: 0.2rem 0;
}

.Adverisement-marqee {
  font-size: 1.2rem;
  font-weight: bolder;
  z-index: 99;
  color: white;
  padding: 0 0.5rem;
  font-family: 'Poppins', sans-serif;

}


.marquee-container {

  overflow: hidden;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  color: white;



  .marquee {
    top: 0;
    right: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
  }

  .marquee2 {
    animation-delay: 15s;
  }

  b {
    padding-left: 10px;
  }
}

.marquee span {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.Adveritsement-text {
  background-color: #191A88;
  z-index: 99;
}

@keyframes marquee {
  0% {
    left: 100%;
  }

  100% {
    left: -95%
  }
}

.start {
  height: 12px;
  width: 12px;
}

@media (max-width : 1250px) {

  .marquee span {
    font-size: 0.8rem;
  }

  .marquee-container,
  .marquee {
    top: 0;
    line-height: 30px;
    height: 30px;
  }
}

/* .about-us */

#About-us-section {
  margin-top: 8rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 8rem;
  font-family: 'Poppins', sans-serif;
}

.company-img-and-est-date {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.company-img-genni {
  border-radius: 12px;
  width: 500px;
  height: 420px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.company-name-after-img,
.est-date {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  color: #00017B;

}

.company-name-after-img {
  margin-top: 2rem;
}

.company-name-after-img span {
  font-size: 2rem;
  background: #00017B;
  color: white;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 3px;
}


.company-About p {
  font-size: larger;
  font-weight: bolder;
}

.about-us-introduction-container {
  display: flex;
}

.about-us-introduction-container img {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
}

.our-goal-discription {
  margin: 1rem 0;
  font-size: 1rem;
}

.company-introduciton-section {
  border-radius: 12px;
  height: 500px;
  width: 600px;
}

.about-us {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.our-goal {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0 0.5rem;
}

.about-us-heading {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.more-about-us {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  background: #191A88;
  border-radius: 12px;
}

.more-about-us1 {
  margin: 4rem 0;
  margin-left: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #191A88;
  font-weight: bold;
  background: white;
  border-radius: 5px;

}

@media (max-width:1250px) {


  .company-img-genni {
    width: 80%;
    height: 220px;
  }

  .company-name-after-img span {
    font-size: 1rem;
  }

  .company-name-after-img,
  .est-date {
    font-size: 1.2rem;
    padding: 0 1rem;
  }

  .our-goal {
    font-size: 1.2rem;
    text-align: center;
  }

  .about-us {
    font-weight: 600;
    font-size: 1rem;
  }

  .about-us-heading {
    font-size: 1.2rem;


  }

  .company-introduciton-section {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
  }

  #About-us-section {
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 8rem;
    font-family: 'Poppins', sans-serif;
  }

  .our-goal-discription {
    font-size: 0.8rem;
    margin: 1rem 0;
  }

  .about-us-introduction-container img {
    height: 30px;
    width: 30px;
    padding: 0.2rem;
  }

}

/* slider */


.example__slider {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;


}

.slider-seciton {
  margin-bottom: 8rem;
}

.center-block {
  height: 220px;
  width: 220px;
}

li {
  min-height: 100%;
}

.slider-seciton-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

}





/* //counter */

#counter-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;


}

.counter-section {
  width: 90%;
  color: white;
  background-color: #130CB7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 6rem 0;
  margin-top: 8rem;
}

.counter-container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}

.counter {
  font-size: 2rem;
  margin-top: 10px;
}

.counter-icon {
  height: 100px;
  width: 100px;
  margin: auto;
}

.count-one-by-one {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.counter-section-heading {
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
}

.counter-section-heading2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: white;
  padding-top: 3rem;
}

.more-about-us {
  margin-top: 3rem;
  padding: 1rem 2rem;
  font-size: large;
  background: #191A88;
  font-weight: bolder;
  margin-bottom: 3rem;
  border-radius: 5px;

}


.line {
  width: 4px;
  height: 100px;
  background-color: red;
}

@media (max-width: 1250px) {

  .fa-solid {
    font-size: 1rem;
  }

  .counter {
    font-size: 12px;
    margin-top: 0;
  }


  .slider-seciton-heading {
    margin: 1rem;
    font-size: 1.2rem;
  }

  .center-block {
    height: 120px;
    width: 120px;
  }

  .slider-seciton {
    margin-top: 3rem;
  }

  .slider-seciton-heading {
    font-size: 1.2rem;
  }

  .counter-icon {
    height: 50px;
    width: 50px;
  }

  .counter-section {
    margin-top: 3rem;
  }

}

@media (max-width:320px) {
  .counter-icon {
    height: 30px;
    width: 30px;
  }
}

/* //counter */
#counter-section-container {
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
}

.counter-container span {
  font-size: 1rem;
}

.count-one-by-one {
  gap: 0;

}

.more-about-us {
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
  background-color: #191A88;
  border-radius: 5px;
}


@media(max-width:1250px) {

  .counter-container {
    justify-content: center;
    margin: 0.5rem;
    border-style: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .line {
    display: none;
  }

  .counter-section {
    padding: 1rem;
  }

  .counter,
  .counter span {
    font-size: 1rem;
  }

  .counter-section span {
    font-size: 0.8rem;
  }


  .counter-section-heading,
  .counter-section-heading2 {
    margin: 1 0rem;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .more-about-us {
    font-size: 0.8rem;
  }
}

@media (max-width: 890px) {
  .count-one-by-one {
    gap: 0;

  }
}

@media (max-width:500px) {
  .counter-section {
    width: 100%;
    border-radius: 0;
    padding: 2rem 0;
  }
}

@media (max-width:325px) {
  .counter {
    font-size: 0.7rem;
  }

  .counter-container span {
    font-size: 0.7rem;
  }

}

.bx-wrapper .bx-viewport {
  height: min-content;
}



/* //course-popular */

.section-popular-course-container {
  margin-top: 12rem;
  width: 100%;
  font-family: 'Poppins', sans-serif;

}

.popular-course-container-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 3rem 0;
  font-family: 'Poppins', sans-serif;

}

.popular-course-container {

  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Adjust as needed */
  gap: 2rem;
  padding: 1rem;
}

.popular-course-rectangle {
  border-radius: 20px;
  padding: 2rem;
  width: 22%;
  height: 280px;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
  padding-bottom: 1rem;
  position: relative;
}

.popular-course-rectangle .fa-solid {
  font-size: 1.5rem;
}

.popular-course-rectangle p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.popular-course-heading {
  font-size: 2rem;
  font-weight: bolder;
}


.popular-course-container-heading button {
  font-size: 1rem;
  background: #191A88;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;
}

.popular-course-rectangle1 {
  background: #EDF1FF;

}



.numbers {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  font-style: normal;
  font-weight: 800;
  border: 1px solid rgb(66, 66, 66);

}

.course-count-no {
  position: absolute;
  bottom: 1rem;
  color: gray;
}

.course-icon {
  height: 50px;
  width: 50px;
}

@media (max-width : 1250px) {

  .popular-course-rectangle p,
  .numbers {
    font-size: 1rem;
  }

  .popular-course-rectangle {
    height: 220px;
  }


}

@media (max-width:1250px) {
  .popular-course-container-heading button {
    font-size: 10px;
    padding: 0.2rem;

  }

  .popular-course-container-heading {
    font-size: 1rem;
    padding: 1rem;
  }

  .popular-course-rectangle {
    width: 40%;
    height: 200px;
    border-radius: 10px;
    /* Adjust as needed for spacing */
    padding: 1.5rem;
  }

  .popular-course-rectangle p {

    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 1rem;
  }

  .popular-course-heading {
    font-size: 1.2rem;
  }



  .section-popular-course-container {
    margin-top: 8rem;
  }

  .numbers {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .popular-course-container {
    gap: 1rem;
    padding: 2rem 1rem;
  }

  .course-icon {
    height: 22px;
    width: 22px;
  }
}

@media (max-width:365px) {
  .popular-course-container {
    gap: 1rem;
    padding: 0rem;
  }

  .popular-course-rectangle {
    width: 130px;
  }

}


/* .timeline section */
.GeeniDeclaration {
  background: #EDF1FF;
  margin-top: 5rem;
  padding: 2rem 0;
  font-family: 'Poppins', sans-serif;
}


#timeline-section-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 2rem 2rem;
  background: #EDF1FF;
  font-family: 'Poppins', sans-serif;
}

#timeline-section-child1 {
  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

}

#timeline-section-child2 {

  max-width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.timeline-images {
  height: 450px;
  width: 550px;
  border-radius: 15px;
}

.timeline-image1 {
  height: 500px;
  width: 550px;
  border-radius: 15px;
}


.time_line_container {
  max-width: 550px;
  margin: 50px auto;
}

p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 0.8rem;
  opacity: 0.8;
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
}

.timeline:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5%;
  width: 4px;
  height: 72%;
  background: red;
}

.timeline .timeline-container {
  position: relative;
}

.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
}

.time-line-icon-child {
  position: absolute;
  left: -35px;
  top: -35px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  width: 120px;
  height: 120px;
}





.timeline .timeline-container .timeline-body {

  padding: 1rem 0;
  border-radius: 3px;
  color: black;
}

.time_line_container_heading {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

.timeline .timeline-container .timeline-body:before {
  content: '';
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.timeline .timeline-container .timeline-body .timeline-title p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 1rem;
}

.timeline-section-parent-heading {
  text-align: center;
  padding: 1rem 2rem 0 2rem;
  font-size: xx-large;
  font-weight: bolder;
  padding: 2rem;

}

@media (max-width : 1250px) {

  .timeline-section-parent-heading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
  }

  .time_line_container_heading {
    font-size: 1.2rem;
    text-align: center;
  }

  #timeline-section-parent {
    padding: 0;
    gap: 0;
  }

  .timeline .timeline-container .timeline-body .timeline-title {
    font-size: 1rem;
    font-weight: 600;
  }

  .timeline .timeline-container .timeline-body .timeline-title p {
    font-size: 10px;
  }

}


@media (max-width : 1300px) {

  .timeline-image1,
  .timeline-images {
    display: none;
  }

  #timeline-section-parent {
    padding: 0;
    gap: 0;
  }
}

.time-line-image-icon {
  height: 12px;
  width: 12px;
}

/* faq question */


.faq-container {
  margin-top: 7rem;
  margin: 0 auto;
  width: 60%;
}

.faq-heading {
  text-align: center;
  padding: 2rem;
  margin: 3rem 0;
  font-size: 2rem;
  font-weight: bold;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}



.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1.5em 0;
  font-size: 0.5rem;
  word-wrap: break-word;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button .accordion-title {
  padding: 2rem 1.5rem 2rem 0;
}

span {
  font-size: 1.2rem;
}

.accordion button .icon img{
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border-radius: 22px;
}


.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true']+.accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

#faq-container-section {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-content-answere {
  font-size: 10px;
}

@media only screen and (max-width: 768px) {
  .faq-container {
    padding: 1rem;
    width: 100%;
  }

  .faq-heading {
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: 0;
  }

  .accordion button .icon {
    top: 50%;
    transform: translateY(-50%);
  }

  .accordion-title {
    font-size: 16px;
  }

  .accordion-content-answere {
    font-size: 7px;
  }

  .accordion button .accordion-title,
  .accordion .accordion-content p {
    font-size: 0.8rem;
  }
}


/* footer */


.address {
  position: relative;
  margin-top: 15rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;

}

.address-section-genni {
  font-family: 'Poppins', sans-serif;
  background: white;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  border-radius: 20px;
  padding-top: 1rem;
  width: 1000px;
}

.address-section-genni h3 {
  text-align: center;
}


#geeni-location {
  margin-top: 5rem;
}

.contact_deatils {
  display: flex;
  place-content: center;
  gap: 3rem;
  padding: 2rem 1rem;
}

.contact_deatils p {
  gap: 1rem;
  font-size: 1rem;
}


.address1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}

.header-heading-bottom {
  background-color: #130CB7;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: skewx(-20deg);
}

.header-heading-bottom h4 {
  text-align: center;
  color: white;
  padding: 1rem;
}

.header-heading-bottom a {
  color: white;
  font-weight: bold;
  border: 2px solid white;
  text-decoration: none;
}


.address-section-genni1 {

  z-index: 99;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -15%);
  width: 1000px;
}

.e,
.m {
  font-family: 200;
  color: gray;
}

.email-number {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.contact_deatils p {
  font-weight: 800;
}

.Administration,
.Director,
.genral_information {
  display: flex;

  gap: 1rem;
}

.registermefooter {
  padding: 0.2rem 0.5rem;
}

.innter-contactdetails {
  display: flex;
  gap: 1rem;
}

.copyright {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding: 1rem;
}

@media (max-width : 1190px) {
  .address-section-genni {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .address-section-genni1 {
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background-color: white;
  }

  .address {
    margin-top: 20rem
  }

  .header-heading-bottom {
    transform: skew(0deg);
    width: 100%;
  }

  iframe {
    height: 500px;
  }

  .email-number,
  .contact_deatils p {
    font-size: 0.8em;
    font-weight: 400;
  }

  .header-heading-bottom h4 {
    font-size: 0.7rem;
    padding: 0;
    font-weight: 600;
  }

  .header-heading-bottom a {
    font-size: 0.7rem;
    padding: 0.1rem 0.3rem;
    font-weight: 600;
  }
}

@media (max-width : 830px) {
  .Details-upper {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .contact_deatils {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
  }

  .address-section-genni1 {
    width: 100%;
  }
  .Administration,
.Director,
.genral_information{
  gap: 0;
}
}



.register-now-button-btn:hover {
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}

.more-about-us:hover {
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}

.more-about-us1:hover {
  border: 2px solid white;
  background: #191A88;
  color: white;
}

.popular-course-container-heading button:hover {
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}