/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  min-height: 100vh;



}

.wrapper
{
  background: #EDF1FF;
}
.back_page{
  padding-top: 5rem;
  margin-left: 5rem;
}

#About-us-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;
}

.company-img-genni {
  border-radius: 12px;
  height: 380px;
}

.company-img-genni1{
  width: 45%;
}

.genni {
  width: fit-content;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  background-color:  #191A88;
  padding: 0.3rem;
  font-style:"STIX Two Text", serif ;
}

.certificate_title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.certicate_discription {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.time-limit {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.price {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
}



.page-container {
  text-align: center;
  padding: 20px;
}

.page {
  display: none;
}

.visible {
  display: block;
}

.button-container {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.page-button {
  padding: 10px 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}


#benefits {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: 'Poppins', sans-serif;
  
}

.benifits-discription {
  width: 40%;
  text-align: left;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;

}

.fa-check {
  padding: 0 0.5rem;
  font-weight: bolder;
}


.benifits-discription {
  display: none;
}

.visible .benifits-discription {
  display: block;
  display: flex;
  gap: 0.5rem;
}


.button-29 {
  width: fit-content;
  align-items: center;
  appearance: none;
  background:  #191A88;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;

  padding:0.5rem 1rem;

  font-size: 1.2rem;
  margin-top: 1rem;
  border: none;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.page-button{
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
}

.button-border {
  border-bottom: 5px solid rgb(0, 0, 101);
}
@media (max-width : 1200px) {
  .back_page{
    margin-left: 1rem;
    padding-top: 2rem;
  }
  .back_page img{
    height: 30px;
    width: 30px;
  }
}

@media (max-width : 800px) {
 

  /* #About-us-section {
    height: 900px;
  } */
  .time-limit,.button-29,.certicate_discription{
    font-size: 0.8rem;
  }
  .certicate_discription{
    width: 90%;
  }
  .price{
   font-size: 1rem;
  }
  .certificate_title,.genni{
    font-size: 1.2rem;
  }
  .page-button{
    font-size: 1.2rem;
  }
  .page-button:hover{
    border-bottom: 5px solid rgb(0, 0, 101);
  }
  #benefits{
    gap: 1rem;
    font-size: 0.8rem;
  }
  .benifits-discription{
    width: 100%;
    font-size: 0.8rem;
  }
}

@media (max-width: 1150px) {
  .company-img-genni1{
    width: 100%;
  }
  .company-introduciton-section-parent{
    display: none;
  }
  .time-limit,.button-29,.certicate_discription{
    font-size: 0.8rem;
  }

}
.button-29:hover{
  border: 3px solid #191A88;
  background-color: #FFFFFF;
  color: #191A88;
  font-weight: bolder;
  scale: 20px;
}