@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Luckiest Guy", cursive;
}

#About-us-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1rem;
  background: rgb(209, 242, 255);
}

.company-img-genni {
  border-radius: 12px;
  height: 380px;
}

.company-img-genni1 {
  width: 500px;
}

.genni {
  width: fit-content;
  font-size: 2rem;
  font-weight: 900;
  color: white;
  background:  rgb(0, 0, 101);
  padding: 0.3rem;
}

.certificate_title {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.certicate_discription {
  font-size: 1.5rem;
}

.time-limit {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  font-size: 1.5rem;
}

.price {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 2rem;
}

@media (max-width: 1150px) {

  .company-img-genni,
  .company-img-genni1 {
    width: 100%;
    padding: 1rem;
  }
}

.page-container {
  text-align: center;
  padding: 20px;
}

.page {
  display: none;
}

.visible {
  display: block;
}

.button-container {
  margin-top: 20px;
}

.page-button {
  padding: 10px 5px;
  font-size: 16px;
  cursor: pointer;

}


#benefits {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.benifits-discription {
  width: 40%;
  text-align: left;
  display: flex;

}

.fa-check {
  padding: 0 0.5rem;
  font-weight: bolder;
}


.benifits-discription {
  display: none;
}

.visible .benifits-discription {
  display: block;
}


.button-29 {
  width: fit-content;
  align-items: center;
  appearance: none;
  background:  rgb(0, 0, 101);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.page-button{
  font-size: 2rem;
  font-weight: bolder;
  padding: 1rem;
}
.page-button:active{
  border-bottom: 5px solid  rgb(0, 0, 101);
}


@media (max-width : 800px) {
  .benifits-discription {
    width: 80%;
  }

  /* #About-us-section {
    height: 900px;
  } */
  .time-limit, .certicate_discription,.button-29{
    font-size: 1rem;
  }
  .price{
   font-size: 1.2rem;
  }
  .certificate_title{
    font-size: 1.8rem;
  }
  .page-button{
    font-size: 1.2rem;
  }
  .page-button:hover{
    border-bottom: 5px solid blue;
  }
}