@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.our-branch-heading {
    text-align: center;
    margin-top: 5rem;
    font-size: 3rem;
    font-weight: bolder;
}

#Our_Branch_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

@media (max-width : 800px) {

    .our-branch-heading {

        font-size: 2rem;
        font-weight: bolder;
    }

}
.container{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   justify-content: center;
   align-items: center;
   
}
.view-caurse-card{
    padding: 1rem;
    width: 35%;
    border: 2px solid gray;
    margin: 1rem;
    
}
.view-caurse-card-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
}

.view-caurse-card-container-heading, .fa-solid, .price{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 0.5rem 0rem;
    word-wrap: break-word;
}
.price-time-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0rem;
}
.time-limit{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.time-limit p{
   font-size: 1rem;
}
.discription{
    word-wrap: break-word;
    font-weight: 600;
    padding: 0.5rem 0;
    font-size: 0.8rem;
}

.fullWidthButton {
    width: 100%;
    padding: 10px; /* Adjust padding as needed */
    background-color: blue;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }


@media (max-width : 1000px) {
    .time-limit p{
        font-size: 0.8rem;
     } 
     .view-caurse-card-container-heading, .fa-solid, .price{
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .view-caurse-card-container-heading, .fa-solid, .price{
        font-size: 0.8rem;
       
    }
   
    
}
@media (max-width : 820px) {
    .view-caurse-card{
        width: 90%;
    }
    .fullWidthButton {
        padding: 0.3rem;
    }
}